.barlow-thin {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
* {
    margin:0;  
    padding:0;  
    box-sizing: border-box; /* medidas sao tomadas da borda */
    font-family:Barlow;
}


header{
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    background-color: #6B8375;
    align-items: center;
    padding: 10px;
    z-index: 2;
}

header h1{
    color: white;
}

nav a:link{
    text-decoration: none;
    padding: 20px; 
    color:white;   
}

nav a:visited{
    color: black;
}

nav a:hover{
    color:#B2C8A2;
    font-size: 110%;  

}

nav a:active{
    color:#C6E3C5;
    

}

header a:last-child{
    background-color:#C6E3C5 ;
    border-radius: 20px;
    padding: 13px;
}

#poema {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;

    background-color: #B2C8A2;
    font-weight: bold;
}
    
#autor{
    font-weight:lighter;
    font-style: italic;
    margin-top: 10px;
    
    text-align: center;
}
#paisagem div{
    position: relative;

}

#paisagem img{
    width: 100vw;
    z-index: 1;
    
}
#paisagem a{
    text-decoration: none;
    position: absolute;
    bottom:30px;
    right: 30px;;
    color: white;
    font-size: 150%;
}