.barlow-thin {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* medidas sao tomadas da borda */
    font-family: Barlow;
}
body{
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #6B8375;
    align-items: center;
    padding: 10px;
    z-index: 2;
}

header h1 {
    color: white;
}

nav a:link {
    text-decoration: none;
    padding: 20px;
    color: white;
}

nav a:visited {
    color: black;
}

nav a:hover {
    color: #B2C8A2;
    font-size: 110%;

}

nav a:active {
    color: #C6E3C5;


}


header a:last-child {
    background-color: #C6E3C5;
    border-radius: 20px;
    padding: 13px;
}

@keyframes deslocamento {
    0% {
        transform: translateX(0); /* Posição inicial */
    }
    25% {
        transform: translateX(-20vw); /* Movimenta para a direita */
    }
    
    75% {
        transform: translateX(20vw); /* Volta à posição inicial */
    }
    100% {
        transform: translateX(0); /* Volta à posição inicial */
    }
}

#poema {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;

    background-color: #B2C8A2;
    font-weight: bold;

    
}
#poema p{
    animation: deslocamento 30s infinite ease-in-out;

}

#autor {
    font-weight: lighter;
    font-style: italic;
    margin-top: 10px;


    text-align: center;
}

#paisagem {
    background-color: #98B28F;

}

#paisagem div {
    position: relative;

}

#paisagem img {
    width: 100vw;
    z-index: 1;

}

#paisagem a {
    text-decoration: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
    ;
    color: white;
    font-size: 150%;
}

article#cidades {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vw;


    background-color: #98B28F;

}

#cidades section {
    display: flex;
    margin: 10px;


}

#cidades img {
    width: 100px;
    border-radius: 15px 0px 0px 15px;
}

#cidades div {
    width: 100px;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;

    border-radius: 0px 15px 15px 0px;

}

#cidades div:hover {
    background-color: lightgray;
}

#experimenta {
    background-color: #98B28F;
    display: flex;
    justify-content: center;
}

#experimenta p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

}

#experimenta div {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: black;
    margin: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#experimenta div:nth-child(2) {
    background-color: #6B8375;
}

#experimenta div:nth-child(3) {
    background-color: #C6E3C5;
    color: black;
}

#experimenta div:nth-child(4) {
    background-color: #B2C8A2;
    color: black;
}

#experimenta div:nth-child(5) {
    background-color: #88A384;

}
#parallax {
    background-image: url(images/tree.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

#parallax div h2{
    text-align: center;
    color: white;
    font-weight: bold;
   
}
#parallax div p{
    text-align: center;
    color: white;
    font-style: italic;
    
   
}
#video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.barra {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  #fotos_madrid{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8vw;
    background-color: #98B28F;
    
  }
  #fotos_madrid div{
    margin:10px;
  }
  #fotos_madrid p{
    text-align: center;
    color: white;
  }
 

  #fotos_madrid div:nth-child(2) img:hover{    
    border-radius: 150px;
    transition: 3s;

  }
  #fotos_madrid div:nth-child(3) img:hover{    
    transform: rotate(180deg);
    transition: 3s;
  }
  
  #fotos_madrid div:nth-child(5) img:hover{    
    transform: scaleX(-1);
    transition: 3s;
  }
  #fotos_madrid div:nth-child(6) img:hover{    
    transform: translate(50px,100px);
    transition: 3s;
  }

  #fotos_madrid div:nth-child(8) img:hover{    
    filter: blur(5px);
    transition: 2s;
  }

  #fotos_madrid div:nth-child(9) img:hover{    
    transform: skew(20deg,10deg);
    transition: 2s;
  }
  #fotos_madrid div:nth-child(11) img:hover{    
    filter: hue-rotate(90deg);
    transition: 2s;
  }
  #fotos_madrid div:nth-child(12) img:hover{    
    transform: scale(1.5);
    transition: 2s;
  }
 